* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.navbar {
  background: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: red;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  background-color: #f77062;
  color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
}

.button:hover {
  background: blue;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

/* WHEN THE SCREEN WIDTH IS BELOW 960 PX */
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0px;
    width: 100%;
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: black;
    top: -1000px;
    /* height: 50vh; */
  }

  .navbar__menu.active {
    background: black;
    top: 100%;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 99;
    font-size: 1.6rem;
    height: 50vh;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    background: white;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    /* margin: 0; */
    margin-top: 20px;
  }

  .navbar__toggle .bar {
    display: flex;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* HERO SECTION CSS */

.main {
  background-color: #141414;
  /* max-width: 100%; */
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* height: 90vh; */
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb167 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #b73432 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #f77602 0%, #fe5196 100%);
  border-radius: 4px;
  padding: 14px 32px;
  border: none;
  color: white;
  margin: 2rem auto;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.main__btn a {
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 2;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 0;
  height: 100%;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
  margin: 3rem 1.5rem;
}

#main__img {
  height: 80%;
  width: 80%;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    /* height: 90vh; */
  }

  .main__content {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    font-size: 1.5rem;
  }
}

/* SERVICES SECTION CSS */

.services {
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.services h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ff8177 0%, #ff1232 100%);
  /* background-size: 100%; */
  margin-top: 2.5rem;
  margin-bottom: 2.55rem;
  font-size: 2rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.services__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.services__card {
  margin: 1rem;
  height: 500px;
  width: 400px;

  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  );
  background-image: url("/images/pic3.jpg");
  background-size: cover;
  position: relative;
  /* this allows children to be position absolute */
  border: 5px solid rgba(1, 1, 10, 0.6);
  color: #fff;
  border-radius: 25px;
}

.services__card:nth-child(2) {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  );
  background-image: url("/images/pic4.jpg");
  background-size: cover;
}

.services h2 {
  position: absolute;
  top: 350px;
  left: 30px;
  font-weight: 1400;
  text-shadow: 1px 1px #141414;
}

.services__card p {
  position: absolute;
  top: 400px;
  left: 30px;
  text-shadow: 1px 1px #141414;
}

.services__card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  background: #f66762;
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: all 1s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .services {
    height: 1400px;
  }

  .services h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .services {
    height: 1400px;
  }

  .services h1 {
    font-size: 1.2rem;
  }

  .services__card {
    width: 300px;
  }
}
